node_modules/
.venv/
__pycache__/
*.log
.env
.DS_Store
dist/
build/
*.sqlite3
.pytest_cache/
apps/*/.venv/
apps/*/.pytest_cache/
api.sqlite3
*.sqlite3
storage/
*.egg-info/
tests/fixtures/
api.sqlite3
*.sqlite3
storage/
*.egg-info/
tests/fixtures/
